@using System.Web
@model HomeViewModel

<header>
    <h2>
        <a href="#">
            Entelect
        </a>
    </h2>
</header>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th>Description</th>
            <th style="width: 10%">Hours</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        @for (int day = 0; day < Model.Entelect.Count(); ++day)
        {
            for (int entry = 0; entry < Model.Entelect[day].TimesheetEntries.Count(); ++entry)
            {
            <tr>
                <td>
                    @Model.Entelect[day].Date.ToString("yyyy") <br />
                    @Model.Entelect[day].Date.ToString("MM-dd")
                </td>
                <td>@Model.Entelect[day].TimesheetEntries[entry].Description</td>
                <td>@Model.Entelect[day].TimesheetEntries[entry].DurationInHours h</td>
                <td><button onclick="insertTimeIntoHollard('#hollard', 'Hollard', '/Home/SendToHollard', '@Model.Entelect[day].Date.ToString("yyyy-MM-dd")', '@HttpUtility.JavaScriptStringEncode(@Model.Entelect[day].TimesheetEntries[entry].CategoryName)', '@Model.Entelect[day].TimesheetEntries[entry].DurationInHours', '@HttpUtility.JavaScriptStringEncode(@Model.Entelect[day].TimesheetEntries[entry].Description)')">&gt;</button></td>
            </tr>
            }
            
        }
        </tbody>
    </table>
</div>

<ul class="actions special">
    <li><a href="#" class="button" onclick="loadPartial(event, '#entelect', 'Entelect', '/Home/Entelect')">Refresh</a></li>
</ul>

